.horizontalFlex {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.verticalFlex {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.circleIcon {
	width: 50px;
	height: 50px;
	border-radius: 100rem;
	background-color: #0090ff;
	color: white;
	font-size: 30px;
	transition: box-shadow 300ms;
	cursor: pointer;
	background-position: center;
	background-size: 35px;
	background-repeat: no-repeat;
	transition: width 500ms;
}

.circleIcon:hover {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.425);
}

input {
	text-indent: 5px;
	align-items: center;
	justify-content: center;
	width: 13vw;
	min-width: 280px;
	height: 40px;
	border-radius: 8px;
	background-color: #f6f6f6;
	border: solid 1px #dedede;
}

.greyLabel {
	padding: 5px 0 0 10px;
	font-weight: bold;
	color: #707070;
}

.horizontalContainer {
	display: flex;
}
