.sidebarContainer {
	display: flex;
	flex-direction: column;
	width: 15vw;
	margin: 0.5rem;
	min-width: fit-content;
	background-color: white;
	height: calc(100vh-0.5rem);
	border-radius: 0 15px 0 0;
}

.searchBoxContainer {
	padding: 10px;
	display: flex;
	justify-content: center;
}

.searchBox {
	text-indent: 5px;
	align-items: center;
	justify-content: center;
	width: 13vw;
	height: 40px;
	border-radius: 8px;
	background-color: #f6f6f6;
	border: solid 1px #dedede;
}

.nearbyFountainsLabel {
	padding: 5px 0 0 10px;
	font-weight: bold;
	color: #707070;
}

.doneIcon {
	background-image: url(../res/done_white_24dp.svg);
}

.addIcon {
	background-image: url(../res/add_white_24dp.svg);
}

.extendedIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-radius: 100rem;
	background-position: 10px;
}

.addFountainText {
	font-size: 14px;
	font-weight: bold;
	animation: expandFountainText 500ms;
}
